* {
    font-family: 'Roboto Mono', monospace;
}

html, body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
}

body {
    margin: auto;
    background: #232020;
}

label, .controlElement {
    font-size: medium;
}

#controls {
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    padding-top: 60px;
    background: rgba(0,0,0,0.5);
    transition: 1s ease;
}

#controls.minimized {
    transform: translateY(72%);
}

.controlSection {
    display: block;
}

.controlElement {
    color: gray;
    border: none;
    background: none;
    cursor: pointer;
}

.controlElement:focus {
    background: rgba(255,255,255,0.5);
    color: black;
    outline: 0;
}

#hexPicker {
    width: 60px;
}

.controlLabels {
    margin: 5px;
    float: left;
    text-align: right;
    line-height: 23px;
}

.controlInputs {
    padding-top: 1px;
    float: left;
    margin: 5px;
}

#controlMinimizer {
    position: absolute;
    right: 60px;
    top: 10px;
    font-size: 20pt;
    user-select: none;
    cursor: pointer;
    transition: 0.5s ease;
    transform: rotate(180deg) translate(0, -4px);
}

#controlMinimizer.minimized {
    transform: rotate(0deg);
}

#controlTitle {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20pt;
}