* {
    font-family: 'Roboto Mono', monospace;
}

html, body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
}

body {
    margin: auto;
    background: #232020;
}

label, .controlElement {
    font-size: medium;
}

h1 {
    position: absolute;
    left:  3vw;
    font-size: 3vw;
}

#controls {
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    transition: 1s ease;
}

#controls.minimized {
    transform: translateY(100%);
}

#controlsTooltip {
    position: absolute;
    left: 40%;
    bottom: 2%;
    transition: 0.5s ease;
}

#controlsTooltip.fadeOut {
    opacity: 0;
}

.controlSection {
    display: block;
}

.controlElement {
    color: gray;
    border: none;
    background: none;
    cursor: pointer;
}

.controlElement:focus {
    background: rgba(255,255,255,0.5);
    color: black;
    outline: 0;
}

#hexPicker {
    width: 60px;
}

.controlLabels {
    margin: 5px;
    float: left;
    text-align: right;
    line-height: 23px;
}

.controlInputs {
    padding-top: 1px;
    float: left;
    margin: 5px;
}